[submodule "foreign/flatbuffers"]
	path = foreign/flatbuffers
	url = git@github.com:interiorem/flatbuffers.git
	branch = release
[submodule "foreign/grpc"]
	path = foreign/grpc
	url = git@github.com:interiorem/grpc.git
	branch = release
